<!DOCTYPE html>
<html>
<head>
  <title>NflConfidence</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <%= csrf_meta_tags %>
  
</head>
<body>
  <div id="sidebar">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Users', users_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Weekly Picks', weeks_path %></li>
        <li><%= link_to 'Results', results_path %></li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
    <ul>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete  %></li>
    </ul>
    <% else %>
    <ul>  
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    </ul>
    <% end %>
  </div>
  <div id="main_content">
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
        
      <%= yield %>
    </div>
  </div>
</body>
</html>
